<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="baseDir">logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${baseDir}/app.log"
			filePattern="${baseDir}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1000" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.qaclick.FinalProject.LandingValidateMenu" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>